gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
.cxx/

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Generate icons via icons_launcher
/app/src/main/res/mipmap-*
/app/src/main/res/values/colors.xml
/app/src/main/ic_launcher-playstore.png